<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protected Page</title>
    <script>



        function generateJoke() {
            // Assuming you have an endpoint to get the joke
            fetch('/joke')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('jokeArea').innerHTML = data.joke;
                    window.currentJokeID = data.jokeID; // Store jokeID globally
                    window.system = data.system
                    // Enable feedback buttons after joke is generated
                    let feedbackButtons = document.querySelectorAll('.feedback-button');
                    feedbackButtons.forEach(button => {
                        button.disabled = false;
                    });
                    // Disable joke generation button
                    document.getElementById('generateJokeButton').disabled = true;
                });
        }

        function giveFeedback(score) {
            const feedback = {
                rating: score,
                jokeID: window.currentJokeID, // Example: You need to set this variable appropriately
                system: window.system
            };

            fetch('/submit_feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(feedback),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Additional actions after feedback submission
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            // UI updates as before
            // Disable feedback buttons
            let feedbackButtons = document.querySelectorAll('.feedback-button');
            feedbackButtons.forEach(button => {
                button.disabled = true;
            });
            // Enable joke generation button
            document.getElementById('generateJokeButton').disabled = false;            
        }


        
    </script>
</head>
<body>
    <h2>Welcome to the Joke Generator!</h2>
    <button id="generateJokeButton" onclick="generateJoke()">Generate Joke</button>
    <p id="jokeArea">Your joke will appear here.</p>
    <div>
        Rate the joke:
        <button class="feedback-button" disabled onclick="giveFeedback(1)">1</button>
        <button class="feedback-button" disabled onclick="giveFeedback(2)">2</button>
        <button class="feedback-button" disabled onclick="giveFeedback(3)">3</button>
        <button class="feedback-button" disabled onclick="giveFeedback(4)">4</button>
        <button class="feedback-button" disabled onclick="giveFeedback(5)">5</button>
    </div>
    <!--
    <div>
        <a href="/choose_system"><button>Choose Joke Generation System</button></a>
    </div>
    -->
</body>
</html>
